body {
	margin: 0;
	padding: 0;
	background: white;
	font-size: 12px;
	font-family: Arial;
	text-align: center;
}

.clear {
	clear: both;
}

/* index */

#container {
	width: 900px;
	margin: 5px auto;
	text-align: left;
	border: 3px solid #000000;
	background: #18479E;
}

#logo_blue {
	height: 80px;
	background: #3879F2;

	text-align: left;
	font-size: 60px;
	padding: 10px 0;
	border-bottom: 2px solid #001D54;
}

#tresc_blue {
	background: #AAC3F2;
	float: left;
	width: 610px;
	min-height: 200px;
	padding: 5px 10px;
}

#menu_lewe_blue {
	background: #18479E;
	width: 125px;
	min-height: 200px;
	padding: 5px;
	float: left;
}

#menu_prawe_blue {
	background: #18479E;
	width: 125px;
	min-height: 200px;
	padding: 5px;
	float: right;
	font-size: 14px;
	
}

#wylogowanie{
	float: left;
	width: 99px;
	height: 50px;
	text-align: center;
}

#stopka {
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	padding: 5px 0;
	border-top: 1px solid green;
}

.option{
	color: #6C0491;
	float: left;
	width: 500px;
	height: 30px;
	font-size: 18px;
	padding: 10px;
	opacity:0.8;
}

.option:hover{
	background-color: #000000;
	cursor:pointer;
}

#textarea
{
	width: 820px;
	min-height: 200px;
	height: auto;
  
	border-style: solid;
    border-width: 1px;
}
#tytul
{
	width: 200px;
	min-height: 5px;
	resize: none;
	border-style: solid;
    border-width: 1px;

}

 /* Logowanie */

/* Rejestracja--> */