body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial;
	text-align: center;
}

#textarea
{
	width: 820px;
	min-height: 200px;
	height: auto;
  
	border-style: solid;
    border-width: 1px;
}
#tytul
{
	width: 200px;
	min-height: 5px;
	resize: none;
	border-style: solid;
    border-width: 1px;

}