body {
	margin: 0;
	padding: 0;
	background: white;
	font-size: 12px;
	font-family: Arial;
	text-align: center;
}

.clear {
	clear: both;
}

/* index */

#container {
	width: 900px;
	margin: 5px auto;
	text-align: left;
	border: 3px solid red;
}

#logo {
	height: 80px;
	background: pink;
	background-image : url(images/logo.png);
	background-repeat: no-repeat;
	background-position: center; 
	text-align: left;
	font-size: 60px;
	padding: 10px 0;
	border-bottom: 2px solid purple;
}

#tresc {
	background: yellow;
	float: left;
	width: 725px;
	height: 300px;
	padding: 5px 10px;
}

#menu_prawe {
	background: #1A94C4;
	width: 145px;
	height: 300px;
	padding: 5px;
	float: right;

}

#przycisk{
	float: left;
	width: 143px;
	height: 50px;
	text-align: center;
}



#stopka {
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	padding: 5px 0;
	border-top: 1px solid green;
}

.option{
	color:#ffffff;
	float: left;
	min-width: 125px;
	height: 30px;
	font-size: 18px;
	padding: 10px;
	opacity:0.8;
}

.option:hover{
	background-color: #000000;
	cursor:pointer;
}

 /* Logowanie */

/* Rejestracja--> */