body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial;
	text-align: center;
}
.clear {
	clear: both;
}
#container {
	width: 900px;
	margin: 5px auto;
	text-align: left;
	background: lightgray;
	border: 3px solid #000000
}
#gorny_panel{
	height: 20px;
	font-size: 15px;
	margin-top: 12px;
	margin-left: 12px;
	margin-bottom: 12px;
	text-align: left;
	
}
#gorny_panel_nazwa{
	width: 400px;
	height: 20px;
	font-size: 15px;
	text-align: left;
	float: left;

}
#gorny_panel_tag{
	width: 244px;
	height: 20px;
	font-size: 15px;
	text-align: left;
	float: left;
}
#gorny_panel_przycisk{
	width: 122px;
	height: 20px;
	font-size: 15px;
	text-align: left;
	float: left;
}
#logo_blue {
	height: 200px;
	text-align: left;
	font-size: 60px;
	padding: 10px 0;
	border-bottom: 2px solid;
}
#przyciski{
	margin-left: 12px;
	float: left;
	width: 10px;
}
#przyciski_kom{
	float: right;
}
#wpis{
	width: 897px;
	min-height: 200px;
	margin-top: 20px;
}
#wpis_tresc{
	border: 3px solid;
	word-wrap: break-word;
	text-align: left;
	margin-left: 50px;
	margin-bottom: 8px;
}
#wpis_komentarz{
	float: center;
	margin-bottom: 2px;
	min-height: 50px;
	background: #7A7A7A;
	margin-left: 100px;
	border-style: solid;
	word-wrap: break-word;
    border-width: 1px;
	color: #000000;
}
#dodaj_kom{
	width: 800px;
	margin-left: 400px;
	margin-top: 7px;

}
.option{
	color:#ffffff;
	float: left;
	min-width: 50px;
	height: 30px;
	font-size: 18px;
	padding: 10px;
	opacity:0.8;
}

.option:hover{
	background-color: #000000;
	cursor:pointer;
}
